[submodule "source/lib/fancybox"]
	path = source/lib/fancybox
	url = https://github.com/theme-next/theme-next-fancybox3
[submodule "themes/next-community"]
	path = themes/next-community
	url = https://github.com/theme-next/hexo-theme-next.git
[submodule "themes/themes/icarus"]
	path = themes/themes/icarus
	url = https://github.com/ppoffice/hexo-theme-icarus.git
