// Custom styles.
.site-author-image {
	/* 头像圆形 */
	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	box-shadow: inset 0 -1px 0 #333sf;
}

ol {
	-webkit-padding-start: 10px;
}

.custom-logo-image {
	width: 55%;
	+mobile(){width: 20%;}
}

@media (max-width: 567px) {
  .content-wrap {
    padding: initial !important;
  }
  .posts-expand {
    margin: initial !important;
    padding-top: 8px !important;
  }
  .posts-expand .post-header {
    padding: 0 18px;
  }
  .posts-expand .post-meta {
    margin: 3px 0 10px 0 !important;
  }
  .post-block {
    margin-top: initial !important;
    padding: 8px 8px !important;
  }
  .post-body h1,
  .post-body h2,
  .post-body h3,
  .post-body h4,
  .post-body h5,
  .post-body h6 {
    margin: 10px 18px 8px;
  }
  .post-body .note h1,
  .post-body .tabs .tab-content .tab-pane h1,
  .post-body .note h2,
  .post-body .tabs .tab-content .tab-pane h2,
  .post-body .note h3,
  .post-body .tabs .tab-content .tab-pane h3,
  .post-body .note h4,
  .post-body .tabs .tab-content .tab-pane h4,
  .post-body .note h5,
  .post-body .tabs .tab-content .tab-pane h5,
  .post-body .note h6,
  .post-body .tabs .tab-content .tab-pane h6 {
    margin: 0 5px;
  }
  .post-body > p {
    margin: 0 0 10px 0;
    padding: 0 18px;
  }
  .post-body > ul {
    margin-inline-end: 1em;
  }
  .post-body > blockquote {
    margin: 0 18px;
  }
  .post-body > span.exturl {
    margin-left: 18px;
  }
  .post-body > .post-button a {
    margin-left: 18px;
  }
  .post-body .note > p,
  .post-body .tabs .tab-content .tab-pane > p {
    padding: 0 5px;
  }
  .post-body img,
  .post-body video {
    margin-bottom: 10px !important;
  }
  .post-body .note {
    margin-bottom: 10px !important;
    padding: 10px !important;
  }
  .post-body .tabs .tab-content .tab-pane {
    padding: 10px 10px 0 10px !important;
  }
  .post-nav {
    padding-bottom: 2px;
  }
}