// Custom styles.
.site-author-image {
	/* 头像圆形 */
	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	box-shadow: inset 0 -1px 0 #333sf;
}

ol {
	-webkit-padding-start: 10px;
}

.custom-logo-image {
	width: 55%;
	+mobile(){width: 20%;}
}